.big-field {
  padding:0px;
}

h3 {
  font-size: .8125rem;
  font-weight: 500;
  margin: .25rem 0rem;
  text-align: left;
}

.input-field {
  display:flex;
  flex-direction: row;    
}

.nFormat {  
  border: 1px solid #8b8c8f;
  border-radius: .125rem;
  outline: none;
  color: #000000;
  background: white;

  font-size: 100%;

  width: 60%;
  height: 1.25rem;
  padding: .5rem 1rem;

}

#selection {
    width: 40%;
}

