.big-field {
  padding:0px;
}

.input-field {
  display:flex;
  flex-direction: row;    
}

.nFormat {  
  border: 2px solid #ccc;
  border-radius: 7px;
  color: #999;
  background: white;

  font-size: 30px;
  font-family: 'PT Sans', sans-serif;

  width: 60%;
}

#selection {
    color: black;
    line-height: 3.7;
    width: 40%;
}

